// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

$primary: #1d1d1d;
$secondary: #4caf50;
$accent: #9e9e9e;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$generic-border-radius: 0;
$button-border-radius: 0;
